.shapy {
  position: relative;
  text-align: center;
}

@keyframes idle-spin {
  0% { transform: rotate(0deg); }
  2.5% { transform: rotate(-15deg); }
  7.5% { transform: rotate(15deg); }
  10% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.shape {
  animation: idle-spin 5s infinite;
}

.eyes {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}